
    <!----------------------------------------------------------------------------------------------------->
    <section class="section-emp">
      <div class="producto">

          <form>
              <h3>Alta Productos</h3>
              <p>
                  <label for="name">
                      <span>Producto</span>
                      <strong><abbr title="required">*</abbr></strong>
                  </label><br>
                  <input type="text" id="name" name="username">
              </p>
              <p>
                  <label for="marca">
                      <span>Marca</span>
                      <strong><abbr title="required">*</abbr></strong>
                  </label><br>
                  <input type="text" id="marca" name="marca">
              </p>
              <p>
                  <label for="description">
                      <span>Descripcion del Producto</span>
                  </label><br>
                  <input type="text" id="description" name="description">
              </p>
              <p>
                  <label for="price">
                      <span>Precio</span>
                      <strong><abbr title="required">*</abbr></strong>
                  </label><br>
                  <input type="text" id="price" name="price">
              </p>

              <p>

                  Precio en: </p>
              <div class="price-form">
                  <div>
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="pesos">
                      <label class="form-check-label" for="inlineRadio1">$</label>
                  </div>

                  <div>
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="dolares">
                      <label class="form-check-label" for="inlineRadio2">USD</label>
                  </div>

              </div>

              <label for="proveedor">Proveedor</label> <br>

              <select name="proveedor"> <br>

                  <option>Proveedor 1</option>

                  <option>Proveedor 2</option>
                  <option>Proveedor 3</option>
                  <option>Proveedor 4</option>

              </select>
              <div>
                  <button type="submit" class="btn btn-primary">Guardar Producto</button>
              </div>
 </form>
  </div>

  </section>




