  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Productos</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="section-emp">
    <div class="producto">

        <div class="container-emp">

            <div class="botones">
                <a href="./vendedor-alta-prod.html" class="button-producto-a"><button class="boton-emp">Alta de
                        Productos</button></a>
                <a href="./vendedor-mod-prod.html" class="button-producto-a"><button class="boton-emp">Modificacion
                        de Productos</button></a>
                <a href="./vendedor-lista-prod.html" class="button-producto-a"><button class="boton-emp">Lista de
                        Productos</button></a>

            </div>
        </div>
    </div>
</section>
<!---------------------------------------->
